mat-form-field#searchbox {
    margin:10px auto;
    display: block;
    width: 500px;
}
div.pageresult {
    text-align: center;
}
table {
    width: 100%;
}

.mat-column-title {
    width: 40%;
}
.mat-column-author {
    width: 20%;
}
.mat-column-publishdate {
    width: 30%;
}
.mat-column-action {
    width: 10%;
}