h4.favtitle, h4.nofavtitle {
    padding:5px 20px;
}
table {
    width: 100%;
}

.mat-column-title {
    width: 40%;
}
.mat-column-author {
    width: 20%;
}
.mat-column-publishdate {
    width: 30%;
}
.mat-column-action {
    width: 10%;
}